[submodule "submodules/FSLineChart"]
	path = submodules/FSLineChart
	url = https://github.com/ArthurGuibert/FSLineChart.git
[submodule "submodules/PureFutures"]
	path = submodules/PureFutures
	url = https://github.com/wiruzx/PureFutures.git
