[submodule "submodules/PureFutures"]
	path = submodules/PureFutures
	url = https://github.com/wiruzx/PureFutures.git
[submodule "submodules/swift-linechart"]
	path = submodules/swift-linechart
	url = https://github.com/wiruzx/swift-linechart.git
